In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.metrics import mean_squared_error
import math
import statsmodels.api as sm
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.optimize import minimize
from scipy import sparse
import statsmodels.base.model as base
from statsmodels.iolib import summary2
from statsmodels.genmod import families
import warnings
import statsmodels
import patsy
%matplotlib inline

#Data=pd.read_csv('/Users/Juyoung/Desktop/BigdataProgramming-main/프로젝트/data/bigpro_test.csv',encoding='utf-8')
Data=pd.read_csv('/Users/juyoung/Desktop/빅데이터프로그래밍/프로젝트/data/bigpro_test.csv',encoding='utf-8')
Data=Data[Data['OECD']=='v']
Data=Data.dropna(axis=0)
Data=Data.reset_index()
Data['working_elder']=Data['Elderly_popul']/Data['Working_age_popul']
Data

,index,Country,OECD,Real_house_price,Percentage_change_PIR,Safety,Working_age_popul,Elderly_popul,Working_hours,Unemploy_rate,Employ_rate,Gini_coff,2018_GDP,2018_GDP_Rank,Happiness_score,Happiness_score_rank,Sub,working_elder
0,0,Australia,v,102.2,8.3,63.0,65.5,15.7,1712.0,6.498750,74.275,0.325,57354.964046,10,7.272,10,0,0.239695
1,1,Austria,v,117.9,5.3,81.0,66.8,18.8,1501.0,5.333500,73.575,0.280,51478.285262,13,7.139,12,-1,0.281437
2,2,Belgium,v,106.4,3.6,70.0,64.2,18.8,1583.0,5.550000,65.300,0.258,47583.074941,17,6.927,16,-1,0.292835
3,3,Canada,v,123.4,12.1,82.0,66.7,17.2,1670.0,9.600000,74.150,0.303,46313.171371,18,7.328,7,-11,0.257871
4,4,Chile,v,111.3,6.7,48.0,68.7,11.5,1914.0,10.765000,64.125,0.460,15924.794239,45,6.476,25,-20,0.167394
5,5,Czech Republic,v,131.0,11.7,72.0,64.8,19.4,1788.0,2.558250,75.150,0.249,23415.843627,35,6.711,21,-14,0.299383
6,6,Denmark,v,114.3,4.5,84.0,64.0,19.5,1380.0,5.641750,75.050,0.264,61598.536704,9,7.555,3,-6,0.304688
7,7,Estonia,v,112.4,5.5,69.0,64.0,19.7,1711.0,6.766500,75.275,0.305,23170.707378,37,5.739,63,26,0.307812
8,8,Finland,v,101.1,1.6,85.0,62.3,21.6,1540.0,7.783250,72.975,0.269,50030.877311,14,7.632,1,-13,0.346709
9,9,France,v,106.8,3.0,71.0,62.1,19.8,1505.0,8.050000,65.550,0.301,41631.090739,23,6.489,23,0,0.318841
10,10,Germany,v,122.4,4.6,73.0,65.0,21.5,1386.1,4.200250,76.700,0.289,47810.507671,16,6.965,15,-1,0.330769
11,11,Greece,v,105.8,-1.1,60.0,63.7,21.9,1949.0,16.458250,56.500,0.306,20324.304992,38,5.358,79,41,0.343799
12,12,Hungary,v,151.3,6.0,56.0,66.3,19.1,1725.2,4.125250,70.100,0.289,16410.187264,44,5.620,69,25,0.288084
13,13,Iceland,v,137.9,19.5,86.0,66.7,14.1,1454.0,6.141500,84.125,0.250,72968.704228,5,7.495,4,-1,0.211394
14,14,Ireland,v,126.7,10.9,76.0,65.4,13.9,1772.0,5.624750,69.525,0.295,78621.227931,4,6.977,14,10,0.212538
15,15,Israel,v,110.9,3.9,70.0,60.0,11.7,1898.1,4.298750,68.925,0.348,41719.725439,22,7.190,11,-11,0.195000
16,16,Italy,v,96.0,-1.1,58.0,64.0,22.7,1717.8,9.291500,59.050,0.334,34615.756891,25,6.000,47,22,0.354687
17,17,Japan,v,107.2,2.6,73.0,59.7,28.1,1644.0,2.791500,77.775,0.339,39159.423563,24,5.915,54,30,0.470687
18,18,Latvia,v,127.5,1.2,62.0,64.0,20.2,1661.0,8.116750,72.300,0.351,17858.279978,41,5.933,53,12,0.315625
19,20,Luxembourg,v,124.1,8.9,76.0,69.5,14.4,1506.0,6.766750,67.925,0.318,116654.261067,1,6.910,17,16,0.207194
20,21,Mexico,v,115.6,5.6,42.0,66.2,7.2,2137.0,4.440500,62.200,0.458,9686.513783,58,6.488,24,-34,0.108761
21,22,Netherlands,v,124.4,6.1,82.0,65.0,19.0,1434.0,3.816750,78.175,0.285,53044.532435,12,7.441,6,-6,0.292308
22,23,New Zealand,v,123.4,7.5,66.0,65.4,15.3,1779.0,4.600000,77.500,0.349,42949.930585,21,7.324,8,-13,0.233945
23,24,Norway,v,106.4,6.7,90.0,65.3,17.1,1384.0,4.477667,75.275,0.262,81734.465574,3,7.594,2,-1,0.261868
24,25,Poland,v,116.1,5.0,67.0,67.6,17.2,1806.0,3.200000,68.200,0.281,15468.482219,47,6.123,42,-5,0.254438
25,26,Portugal,v,134.5,3.9,73.0,64.6,21.7,1719.0,7.108000,70.475,0.317,23562.554523,34,5.410,77,43,0.335913
26,27,Slovakia,v,124.6,9.2,64.0,68.5,15.8,1695.0,6.683250,68.425,0.236,19406.347534,39,6.173,39,0,0.230657
27,28,Slovenia,v,124.0,5.9,86.0,65.3,19.7,1592.9,4.991750,71.850,0.249,26115.913366,31,5.948,51,20,0.301685
28,29,Korea,v,99.3,8.0,67.0,72.8,14.3,1967.0,3.975000,66.825,0.345,33422.944210,27,5.875,57,30,0.196429
29,30,Spain,v,119.6,6.2,82.0,65.8,19.3,1686.0,15.550000,63.300,0.330,30389.360990,29,6.310,36,7,0.293313
30,31,Sweden,v,112.2,6.4,76.0,62.4,19.9,1452.0,8.308500,77.125,0.275,54589.060386,11,7.314,9,-2,0.318910
31,32,Switzerland,v,108.5,1.9,85.0,66.6,18.4,1556.9,4.815250,80.500,0.299,82818.108162,2,7.487,5,3,0.276276
32,34,United Kingdom,v,108.6,4.5,78.0,63.8,18.3,1538.0,4.473250,76.175,0.366,43043.227816,20,6.814,19,-1,0.286834
33,35,United States,v,117.8,6.6,74.0,65.4,16.0,1779.0,8.108500,71.375,0.390,62996.471285,8,6.886,18,10,0.244648

# Total

In [8]:
data='Happiness_score ~ Real_house_price+Percentage_change_PIR+Safety+Working_hours+Employ_rate+Gini_coff+working_elder'
y,X=dmatrices(data,Data,return_type='dataframe')
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns 
vif

    VIF Factor               features
0  1119.526573              Intercept
1     1.504273       Real_house_price
2     2.916818  Percentage_change_PIR
3     2.924678                 Safety
4     2.992700          Working_hours
5     2.296625            Employ_rate
6     2.250984              Gini_coff
7     2.365385          working_elder

In [32]:
all_target=Data[['Happiness_score']]
all_x_data=Data[['Real_house_price','Percentage_change_PIR','Safety','Working_hours','Employ_rate','Gini_coff','working_elder']]

all_x_data=sm.add_constant(all_x_data, prepend=False)
all_glm_binom = sm.GLM(all_target, all_x_data)
res = all_glm_binom.fit()
print(res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:        Happiness_score   No. Observations:                   34
Model:                            GLM   Df Residuals:                       26
Model Family:                Gaussian   Df Model:                            7
Link Function:               identity   Scale:                         0.18102
Method:                          IRLS   Log-Likelihood:                -14.628
Date:                Sun, 25 Apr 2021   Deviance:                       4.7066
Time:                        21:42:42   Pearson chi2:                     4.71
No. Iterations:                     3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Real_house_price         -0.0192      0.008     -2.527      0.012      -0.034      -0.004
Percentage_change_PIR    -0.0023      0.032     -0.073      0.942      -0.065       0.061
Safety                    0.0112      0.011      0.982      0.326      -0.011       0.033
Working_hours            -0.0017      0.001     -2.389      0.017      -0.003      -0.000
Employ_rate               0.0425      0.018      2.326      0.020       0.007       0.078
Gini_coff                 0.2872      2.102      0.137      0.891      -3.832       4.407
working_elder            -6.2456      1.734     -3.602      0.000      -9.644      -2.847
const                     9.5043      2.441      3.893      0.000       4.719      14.289
=========================================================================================

In [33]:
all_target=Data[['Happiness_score']]
all_x_data=Data[['Real_house_price','Percentage_change_PIR','Safety','Working_hours','Employ_rate','Gini_coff','working_elder']]

all_x_data=sm.add_constant(all_x_data, prepend=False)
all_glm_binom = sm.OLS(all_target, all_x_data)
res = all_glm_binom.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Happiness_score   R-squared:                       0.702
Model:                            OLS   Adj. R-squared:                  0.621
Method:                 Least Squares   F-statistic:                     8.739
Date:                Sun, 25 Apr 2021   Prob (F-statistic):           1.65e-05
Time:                        21:42:45   Log-Likelihood:                -14.628
No. Observations:                  34   AIC:                             45.26
Df Residuals:                      26   BIC:                             57.47
Df Model:                           7
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Real_house_price         -0.0192      0.008     -2.527      0.018      -0.035      -0.004
Percentage_change_PIR    -0.0023      0.032     -0.073      0.942      -0.068       0.064
Safety                    0.0112      0.011      0.982      0.335      -0.012       0.035
Working_hours            -0.0017      0.001     -2.389      0.024      -0.003      -0.000
Employ_rate               0.0425      0.018      2.326      0.028       0.005       0.080
Gini_coff                 0.2872      2.102      0.137      0.892      -4.033       4.607
working_elder            -6.2456      1.734     -3.602      0.001      -9.810      -2.681
const                     9.5043      2.441      3.893      0.001       4.486      14.523
==============================================================================
Omnibus:                        2.797   Durbin-Watson:                   1.703
Prob(Omnibus):                  0.247   Jarque-Bera (JB):                2.026
Skew:                          -0.597   Prob(JB):                        0.363
Kurtosis:                       3.064   Cond. No.                     6.17e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.17e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [34]:
all_x_data.corr()

,Real_house_price,Percentage_change_PIR,Safety,Working_hours,Employ_rate,Gini_coff,working_elder,const
Real_house_price,1.000000,0.504609,0.039303,-0.073003,0.281441,-0.214465,-0.134501,NaN
Percentage_change_PIR,0.504609,1.000000,0.227143,-0.066840,0.416478,-0.197435,-0.503136,NaN
Safety,0.039303,0.227143,1.000000,-0.739282,0.591994,-0.617166,0.297550,NaN
Working_hours,-0.073003,-0.066840,-0.739282,1.000000,-0.589429,0.610047,-0.430626,NaN
Employ_rate,0.281441,0.416478,0.591994,-0.589429,1.000000,-0.350119,0.153790,NaN
Gini_coff,-0.214465,-0.197435,-0.617166,0.610047,-0.350119,1.000000,-0.387232,NaN
working_elder,-0.134501,-0.503136,0.297550,-0.430626,0.153790,-0.387232,1.000000,NaN
const,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Unhappy

In [16]:
unhappy_data=Data[Data['Sub']>0]
happy_data=Data[Data['Sub']<0]
same_data=Data[Data['Sub']==0]
unhappy_data=unhappy_data.sort_values(by='Sub')
happy_data=happy_data.sort_values(by='Sub')
same_data=same_data.sort_values(by='Sub')

In [17]:
data='Happiness_score ~ Real_house_price+Percentage_change_PIR+Safety+Working_hours+Employ_rate+Gini_coff+working_elder'
y,X=dmatrices(data,unhappy_data,return_type='dataframe')
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns 
vif

    VIF Factor               features
0  1525.473525              Intercept
1     1.767837       Real_house_price
2     3.073535  Percentage_change_PIR
3     2.296876                 Safety
4     2.016808          Working_hours
5     1.658319            Employ_rate
6     1.247948              Gini_coff
7     2.222998          working_elder

In [35]:
all_target=unhappy_data[['Happiness_score']]
all_unhappy_data=unhappy_data[['Real_house_price','Percentage_change_PIR','Safety','Working_hours','Employ_rate','Gini_coff','working_elder']]

all_unhappy_data=sm.add_constant(all_unhappy_data, prepend=False)
all_glm_binom = sm.GLM(all_target, all_unhappy_data)
res = all_glm_binom.fit()
print(res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:        Happiness_score   No. Observations:                   14
Model:                            GLM   Df Residuals:                        6
Model Family:                Gaussian   Df Model:                            7
Link Function:               identity   Scale:                         0.25250
Method:                          IRLS   Log-Likelihood:                -4.2996
Date:                Sun, 25 Apr 2021   Deviance:                       1.5150
Time:                        21:51:50   Pearson chi2:                     1.51
No. Iterations:                     3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Real_house_price         -0.0102      0.013     -0.811      0.418      -0.035       0.014
Percentage_change_PIR    -0.0220      0.068     -0.324      0.746      -0.155       0.111
Safety                    0.0187      0.022      0.858      0.391      -0.024       0.061
Working_hours            -0.0022      0.002     -1.432      0.152      -0.005       0.001
Employ_rate               0.0141      0.027      0.521      0.603      -0.039       0.067
Gini_coff                 4.5294      4.640      0.976      0.329      -4.566      13.625
working_elder            -5.7175      2.911     -1.964      0.049     -11.422      -0.013
const                     9.1585      5.245      1.746      0.081      -1.122      19.439
=========================================================================================

In [36]:
all_unhappy_data.corr()

,Real_house_price,Percentage_change_PIR,Safety,Working_hours,Employ_rate,Gini_coff,working_elder,const
Real_house_price,1.000000,0.385386,-0.010708,-0.281565,0.212157,-0.304631,-0.176679,NaN
Percentage_change_PIR,0.385386,1.000000,0.403801,-0.057267,0.208116,-0.100452,-0.700585,NaN
Safety,-0.010708,0.403801,1.000000,-0.510274,0.457488,-0.248354,-0.197584,NaN
Working_hours,-0.281565,-0.057267,-0.510274,1.000000,-0.529816,0.264155,-0.117688,NaN
Employ_rate,0.212157,0.208116,0.457488,-0.529816,1.000000,-0.076908,0.079791,NaN
Gini_coff,-0.304631,-0.100452,-0.248354,0.264155,-0.076908,1.000000,0.006316,NaN
working_elder,-0.176679,-0.700585,-0.197584,-0.117688,0.079791,0.006316,1.000000,NaN
const,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
data='Happiness_score ~ Real_house_price+Percentage_change_PIR+Working_hours+Employ_rate+Gini_coff+working_elder'
y,X=dmatrices(data,happy_data,return_type='dataframe')
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns 
vif

    VIF Factor               features
0  1387.357428              Intercept
1     3.730393       Real_house_price
2     4.665260  Percentage_change_PIR
3     4.931211          Working_hours
4     5.086846            Employ_rate
5     3.957849              Gini_coff
6     5.523839          working_elder

In [39]:
all_target=happy_data[['Happiness_score']]
all_happy_data=happy_data[['Real_house_price','Percentage_change_PIR','Safety','Working_hours','Employ_rate','Gini_coff','working_elder']]

all_happy_data=sm.add_constant(all_happy_data, prepend=False)
all_glm_binom = sm.GLM(all_target, all_happy_data)
res = all_glm_binom.fit()
print(res.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:        Happiness_score   No. Observations:                   17
Model:                            GLM   Df Residuals:                       10
Model Family:                Gaussian   Df Model:                            6
Link Function:               identity   Scale:                         0.10783
Method:                          IRLS   Log-Likelihood:               -0.68060
Date:                Sun, 25 Apr 2021   Deviance:                       1.0783
Time:                        23:39:21   Pearson chi2:                     1.08
No. Iterations:                     3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Percentage_change_PIR    -0.0285      0.037     -0.778      0.436      -0.100       0.043
Safety                    0.0277      0.016      1.719      0.086      -0.004       0.059
Working_hours            -0.0002      0.001     -0.301      0.764      -0.002       0.001
Employ_rate               0.0270      0.032      0.836      0.403      -0.036       0.090
Gini_coff                 0.6327      2.929      0.216      0.829      -5.108       6.374
working_elder            -2.9971      3.172     -0.945      0.345      -9.215       3.220
const                     4.2562      3.331      1.278      0.201      -2.273      10.785
=========================================================================================

In [38]:
all_happy_data.corr()

,Real_house_price,Percentage_change_PIR,Safety,Working_hours,Employ_rate,Gini_coff,working_elder,const
Real_house_price,1.000000,0.813712,0.067321,-0.013032,0.529184,-0.194787,-0.130295,NaN
Percentage_change_PIR,0.813712,1.000000,0.174658,-0.033675,0.504905,-0.187427,-0.244261,NaN
Safety,0.067321,0.174658,1.000000,-0.849426,0.746921,-0.820704,0.698335,NaN
Working_hours,-0.013032,-0.033675,-0.849426,1.000000,-0.709093,0.725962,-0.765634,NaN
Employ_rate,0.529184,0.504905,0.746921,-0.709093,1.000000,-0.587492,0.490286,NaN
Gini_coff,-0.194787,-0.187427,-0.820704,0.725962,-0.587492,1.000000,-0.757063,NaN
working_elder,-0.130295,-0.244261,0.698335,-0.765634,0.490286,-0.757063,1.000000,NaN
const,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN